body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background-image: url("b+wdancefloor+starcloth.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.unpredictable{
  font-family: Wingdings;
  border: none;
  border-radius: none;
  color: cyan;
  font-size: 32px;
}

.rotate{
  position: absolute;
  animation: rot 3s linear infinite;
}

.rave {
  animation: grow 2s linear alternate;
}

@keyframes rot {
  from {
    transform: rotate(0deg)
               translateX(-150px)
               rotate(-360deg);
  }
  to {
    transform: rotate(360deg)
               translateX(-150px)
               rotate(-360deg);
  }
}

@keyframes grow {
  0%, 100& {
    border: 10px;
    border-radius: 10px;
  }
  50% {
    border: 100px;
    border-radius: 100px;
    transform: translate(-100px, -100px);
  }
}
